:root {
  --font-white: #ffffff;
  --font-darker-gray: #b9bbbe;
  --font-light-gray: #dcddde;
  --red: #ed4245;
  --medium-red: #c03537;
  --dark-red: #9f2d2f;
  --blue: #5865f2;
  --medium-blue: #4955d6;
  --dark-blue: #3e49c2;
  --online: #3ba55d;
  --idle: #faa81a;
  --navbar-bg-dark-gray: #202225;
  --user-menu-dark-gray: #292b2f;
  --bg-color-dark-gray: #18191c;
  --bg-color-gray: #2f3136;
  --bg-chat-area: #36393f;
  --bg-servermenu-white: #ffffff;
  --bg-servermenu-light-gray: #f6f6f7;
  --main-font: "Open Sans", sans-serif;
  --box-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
    0 2px 0 rgba(4, 4, 5, 0.05);
  --font-weight-regular: 400;
  --font-weight-title: 600;
  --border-radius: 8px;
  --input-border: 1px solid #040405;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

html,
body,
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}
